{% extends 'base.html' %}

{% block content %}

    <div class="container">
        {% include 'partials/messages.html' %}

        <h1>Index file</h1>

        <ul class="list-group">
            <li class="list-group-item">Bought Beer</li>
            <li class="list-group-item">Bought Beer</li>
            <li class="list-group-item">Bought Beer</li>
            <li class="list-group-item">Bought Beer</li>
            <li class="list-group-item">Bought Beer</li>
            <li class="list-group-item">Bought Beer</li>
            <li class="list-group-item">Bought Beer</li>
            <li class="list-group-item">Bought Beer</li>

        </ul>
    </div>

    <script>
        const message = document.querySelector(".messages")

        setTimeout(function(){
            message.style.display = "none";
            }, 3000);
    </script>
{% endblock %}
