{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Set your new password</h4>
                    </div>
                    <form action="{% url 'reset-user-password' uid token %}" method="post">

                        {% csrf_token %}
                        {% include 'partials/messages.html' %}

                        <div class="form-group">
                            <label class="py-1" for="passwordField">Password</label>
                            <input type="password" name="password" id="passwordField" minlength="6" placeholder="Password" class="form-control form-control-sm">
                            <small class="float-end py-2 show-password-toggle">Show Password</small>
                        </div>

                        <div class="form-group">
                            <label class="py-1" for="passwordField">Password</label>
                            <input type="password" name="password2" id="passwordField2" minlength="6" placeholder="Confirm Password" class="form-control form-control-sm">
                            <small class="float-end py-2 show-password-toggle">Show Password</small>
                        </div>

                        <input type="submit" value="Submit" class="btn btn-primary submit-btn w-100">
                    </form>

                    <div class="container">
                        <span class="lead"> Have an account? </span> <a href="{% url 'login' %}">Login</a><br>
                        <span class="lead"> No account? </span> <a href="{% url 'registration' %}">Reset</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}